.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #570e2f 0%, #570e2f 80%, #0f153c 100%);
}

.list {
  padding: 0 10vw 10vh 10vw;
  gap: 20px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.list > * {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
