.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 100px;

  background-image: url("./Gradient.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 10vw;
  }
}
