.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #0f153c;
  gap: 30px;
  padding: 30px;
}

.container > svg {
  width: 130px;
  margin-top: auto;
  margin-bottom: auto;
}

.linkGroup {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.linkGroup:last-child {
  margin-left: auto;
}

.linkGroup h1 {
  font-weight: 700;
  margin-bottom: 30px;
}

.linkGroup a {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 1000px) {
  .container {
    justify-content: center;
  }
  .linkGroup:last-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 690px) {
  .container {
    flex-direction: column;
  }
}
