.container {
  background: linear-gradient(180deg, #1a1f5f 0.99%, #0f153c 100%);
  display: flex;
  align-items: flex-start;
  text-align: left;
  justify-content: center;
  padding: 50px;
  gap: 50px;
}

.container > h1,
.container > h2 {
  text-align: left !important;
}

.container img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

@media screen and (max-width: 650px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .container img {
    width: 150px;
    height: 140px;
  }
}
