.section {
  display: flex;
  flex-direction: column;
  background-color: pink;
  background: linear-gradient(to bottom right, #0f153f 0%, #010415 50%) bottom
      right / 50% 50% no-repeat,
    linear-gradient(to bottom left, #0f153f 0%, #010415 50%) bottom left / 50%
      50% no-repeat,
    linear-gradient(to top left, #0f153f 0%, #010415 50%) top left / 50% 50%
      no-repeat,
    linear-gradient(to top right, #0f153f 0%, #010415 50%) top right / 50% 50%
      no-repeat;
}
