.container {
  display: flex;
  flex-direction: column;
  padding: 10vh 20vw;
}

.container h1 {
  color: #fff;
  font-family: Inter;
  font-size: 38px;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
}

.container img {
  max-height: 50px;
}

.container footer {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author {
  display: flex;
  align-items: center;
}

.initials {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #333;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 10px;
}

.name {
  font-size: 16px;
}

.position {
  font-size: 12px;
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 10vh 5vw;
  }
}

@media screen and (max-width: 560px) {
  .container h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 330px) {
  .container h1 {
    font-size: 18px;
  }
}
