.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px 50px;
}

.container img {
  height: 600px;
}

.box {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 20px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding-top: 5vh;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .container svg {
    max-height: 150px;
  }
}
