.container {
  background: linear-gradient(to bottom, #570e2f 0%, #ec1c5b 80%, #161831 100%);
  padding-bottom: 100px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10vw 20vw;
}

.fixedHeight .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.fixedHeight .cards > * {
  max-width: none;
  height: 100%;
}
