/* Card modal styles */
.cardModalBackground {
  background: linear-gradient(180deg, #db4e66 0%, #a24688 39.57%, #4e3aba 100%);
  color: white;
}
.cardModalBackground p {
  color: white;
  opacity: 0.5;
}

/* Navigation item overrides */
.navItem {
  --background: 0 100% 0% 0;
  color: white;
}
