.container {
  background: linear-gradient(
    to bottom,
    #303399 0%,
    #010415 20%,
    #570e2f 80%,
    #0f153c 100%
  );
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20vh 15vw;
  gap: 40px;
}

.container > *:first-child {
  max-width: 600px;
}
