.container {
  background: linear-gradient(180deg, #560e2e 0.99%, #570e2f 100%);
  padding: 20vh 20vw;
}

.blueBackground {
  background: linear-gradient(to bottom, #161831 0%, #030817 80%, #303399 100%);
}

.container > * {
  margin-top: 0;
  margin-bottom: 0;
}
