.container {
  display: flex;
  flex-direction: column;

  border-radius: 20px;
  padding: 20px;
  background-color: white;

  --background: 0 0% 20%;
  --foreground: 0 0% 20%;

  color: var(--foreground);
}

.container > *,
.container form label {
  color: #333;
}

.container .filled {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filled svg {
  stroke: #333;
}
.filled h1,
.filled h2 {
  color: #333;
}

.container form {
  max-width: 410px;
  display: flex;
  flex-direction: column;
}

.container .fields {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.bottomFields {
  display: flex;
  flex-direction: column;
}

.bottomFields button {
  margin-top: 10px;
  margin-left: auto;
}

.container h1.title,
.container h2.subtitle {
  color: #333333;
  font-size: 14px;
  text-align: left;
}
.container > h1.title {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}
