.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20vh 5vw;
  position: relative;
}

.flare {
  position: absolute;
  z-index: 0;
  animation-name: flareMove;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  animation-timing-function: linear;
}

.container h1 {
  color: #d8d8d8;
  text-align: center;
  font-family: Manrope;
  font-size: 71px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.container > *:not(img) {
  position: relative;
}

.text {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.text p {
  opacity: 0.5;
  max-width: 600px;
  text-align: center;
  margin: 15px auto auto auto;
}

.subtitle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

h1.you {
  text-align: center;
  font-family: Manrope;
  font-size: 71px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 10px;
  background-color: #ec1c5b;
  background-image: linear-gradient(45deg, #ec1c5b, #e1c7d1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swooshes {
  position: absolute;
  bottom: -11px;
  margin-left: -400px;
}

.swooshes path {
  animation-name: grow;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  transform-origin: 0 50%;
}

.swooshes path:nth-child(2) {
  animation-delay: 2.5s;
}
.swooshes path:nth-child(3) {
  animation-delay: 3s;
}

.screenshot {
  position: relative;
  margin-top: 100px;
  max-width: 800px;
}
.screenshot video {
  position: absolute;
  top: 12px;
  left: 6px;
  margin: 0;
  width: calc(100% - 13px);
}

@media screen and (max-width: 600px) {
  .container {
    padding-top: 10vh;
  }
  .container h1 {
    font-size: 60px;
  }
  .swooshes {
    bottom: -12px;
    margin-left: -286px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding-top: 10vh;
  }
  .container h1 {
    font-size: 50px;
  }
  .swooshes {
    bottom: 50px;
    margin-left: 36px;
  }
}
@media screen and (max-width: 300px) {
  .container {
    padding-top: 10vh;
  }
  .container h1 {
    font-size: 30px;
  }

  .text p {
    max-width: 200px;
  }
  .swooshes {
    bottom: -17px;
    margin-left: -140px;
    transform: scale(0.5);
  }
}

@media screen and (max-height: 450px) {
  .container {
    padding-top: 5vh;
  }
  .container h1 {
    font-size: 60px;
  }
  .swooshes {
    margin-left: -250px;
  }
}
@media screen and (max-height: 375px) {
  .container {
    padding-top: 5vh;
  }
  .container h1 {
    font-size: 40px;
  }
  .swooshes {
    margin-left: -200px;
    transform: scale(0.5);
  }
}

@keyframes flareMove {
  from {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-20%) translateY(-30%) scale(2);
  }
  75% {
    transform: translateX(-50%) translateY(-10%) scale(1.5);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
